@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,300');
body {
	padding: 0;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	color: #363636;
	background: #f0efed;
	font-family: 'Open Sans', sans-serif !important;/*background-color: yellow !important;*/
	overflow-x: hidden;
}
a {
	transition: color 0.5s !important;
}
html.home, .home body {
	height: 100%;
}
[class^="icon-"], [class*=" icon-"] {
 background-image: url("../images/glyphicons-halflings.png") !important;
}
.icon-white, .nav-pills > .active > a > [class^="icon-"], .nav-pills > .active > a > [class*=" icon-"], .nav-list > .active > a > [class^="icon-"], .nav-list > .active > a > [class*=" icon-"], .navbar-inverse .nav > .active > a > [class^="icon-"], .navbar-inverse .nav > .active > a > [class*=" icon-"], .dropdown-menu > li > a:hover > [class^="icon-"], .dropdown-menu > li > a:focus > [class^="icon-"], .dropdown-menu > li > a:hover > [class*=" icon-"], .dropdown-menu > li > a:focus > [class*=" icon-"], .dropdown-menu > .active > a > [class^="icon-"], .dropdown-menu > .active > a > [class*=" icon-"], .dropdown-submenu:hover > a > [class^="icon-"], .dropdown-submenu:focus > a > [class^="icon-"], .dropdown-submenu:hover > a > [class*=" icon-"], .dropdown-submenu:focus > a > [class*=" icon-"] {
 background-image: url("../images/glyphicons-halflings-white.png") !important;
}




.lm{
	margin-top: 80px;
}
.lm h2{
	margin-top: 50px;
}
.lm p{
	padding-right: 30px;
	font-size: 18px;
	font-weight:300;
	line-height: 28px;
}
.cm{
	margin-top: 120px;
	text-align:right;
}
.cm img{
	float: right;
	margin-top: 12%;
	margin-bottom: 131px;
}
.cm h2{
	margin-top: 50px;
}
.cm p{
	padding-left: 30px;
	font-size: 18px;
	font-weight:300;
	line-height: 28px;
}



/* MISC */
.fsfss {
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}
/* Gamma */
.gamma-buttons button {
	width: 60px !important;
	height: 60px !important;
	font-size: 18px !important;
}
.gamma-gallery {
	max-height: 2000px;
}
.gamma-description h3 {
	line-height: 24px;
}
.gamma-description-wrapper {
	padding-bottom: 19px !important;
}
.gamma-buttons button {
	background: #efefef !important;
	color: #0081c6 !important;
}
.no-touch .gamma-buttons button:hover {
	background: #0081c6 !important;
	color: #fff !important;
}
.gamma-nav span:before {
	color: #efefef !important;
}
.gamma-nav span:hover:before {
	color: #0081c6 !important;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}
/*.gamma-container {
	max-height: 1500px;
}*/

/* Scrollbar Skin */
/*::-webkit-scrollbar-track {
 background: #fff;
}
::-webkit-scrollbar {
 width: 20px;
 height: 10px;
}
::-webkit-scrollbar-thumb {
 background: #ccc;
 border-radius: 5px;
}*/

/* Flexbox */
.flex-control-nav {
	display: none;
}
.video-margin-large{
 	margin-right: 328px !important;
}
/* Youtube Placeholder */
.youtube-opacity:hover {
	opacity: .9;
}
.youtube-opacity {
	opacity: .5;
}
.youtube-img {
}
/* Navigation */
.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus {
	color: yellow !important;
	text-decoration: none;
	background: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	font-weight: 400;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3) !important;
}
.navbar .nav>li>a {
	float: none;
	padding: 10px 15px 10px;
	color: #fff !important;
	text-decoration: none;
	font-weight: 300;
	text-shadow: none !important;
}
.navbar .nav>li>a:active, .navbar .nav>li>a:hover {
	color: yellow !important;
}
.navbar .nav {
	margin: 15px 0 0 0 !important;
}
.active {
	position: relative;
	color: yellow !important;
	opacity: 1;
	font-weight: 400;
}
.active:after {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.active:after {
	border-color: rgba(15, 94, 213, 0);
	border-top-color: #0081c6;
	border-width: 40px;
	left: 50%;
	margin-left: -40px;
}
#nav.affix {
	position: fixed;
	top: 0;
	width: 100%
}
.affix {
	top: 0px;
	z-index: 1001 !important;
	position: absolute;
}
.affix-top {
	z-index: 1001 !important;
	position: relative;
}
#nav > .navbar-inner {
	border-left: 0;
	border-right: 0;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
}
.navbar-inner {
	padding-left: 0 !important;
	padding-right: 0 !important;
	background: #0081c6 !important;
	min-height: 80px !important;
	border: none !important;
}
.logo {
}
.logo img {
	height: 43px;
	margin-top: 19px;
}
ul.desktop-nav {
	list-style: none;
	margin-top: 25px;
	text-align: center;
	margin-left: 0;
}
.desktop-nav li {
	display: inline-block;
	margin-left: 0px;
	font-size: 21px;
	line-height: 30px;
	font-weight: 300;
	text-transform: uppercase;
}
.desktop-nav li a {
	text-decoration: none;
}
.desktop-nav li a:hover {
	opacity: 1;
	color: yellow;
}
/* Apollo Mission Chooser */
ul.mission {
	font-size: 0; /*remove space*/
	margin-left: 0;
}
.mission li {
	background-color: #efefef;
	vertical-align: middle;
	text-align: center;
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	width: 100%;
	max-width: 100px;
	margin-bottom: 2em;
	cursor: pointer;
	padding-top: 40px;
	padding-bottom: 40px;
}
.mission li:hover {
	background-color: #0081c6;
}
.mission li a {
	color: #333;
	font-weight: 300;
	font-size: 30px;
	vertical-align: middle;
}
.mission li:hover a {
	color: #fff;
	text-decoration: none;
}
.mission .active {
	background-color: #0081c6;
}
.mission .active a {
	color: #fff;
}
/* Footer Blue Area */
.dark-blue {
	background-color: #182a4b !important;
}
.l-module--sp-large {
	padding: 2em 0;
}
.section-header, .section-header--collapsed {
	padding: 1em;
	width: 100%;
}
.section-header, .section-header--collapsed {
	width: 90%;
	text-align: center;
	display: block;
	margin: 0 auto;
	margin-bottom: 1em;
}
.f-white {
	color: #fff !important;
}
.section-header .f-h1, .section-header--collapsed .f-h1 {
	font-size: 2.8em;
}
.f-h1, .claims-list__item strong, .ms-col__item--text-on-image .f-h2, .ms-col__item--call-to-action .f-h2, .ms-col__item--text .f-h2 {
	text-transform: uppercase;
	font-style: normal !important;
	font-weight: 700 !important;
	line-height: 1;
	color: #213872;
	letter-spacing: -0.0225em;
}
.cross-nav-list {
	text-align: center;
}
.l-container {
	width: 94%;
}
.l-container, .l-container--small {
	width: 90%;
	position: relative;
	max-width: 1680px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	overflow: hidden;
}
.cross-nav-list__item {
	width: 32%;
}
.cross-nav-list__item {
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	width: 100%;
	max-width: 480px;
	text-align: center;
	margin-bottom: 2em;
}
.cross-nav-list__item .content {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	-webkit-transition: background-color 0.3s;
	-moz-transition: background-color 0.3s;
	-o-transition: background-color 0.3s;
	transition: background-color 0.3s;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	display: block;
	background-color: rgba(11,22,47,0);
}
.cross-nav-list__item .f-h2 {
	font-size: 1.3em;
}
.cross-nav-list__item .content:hover {
	background-color: #0b162f;
	text-decoration: none;
}

/* HERO Banner */
.intro {
	text-align: center;
	position: relative;
	width: 100%;
	overflow: hidden;
	padding: 0 0;
	-webkit-transition: height 0.3s ease-in-out;
	-moz-transition: height 0.3s ease-in-out;
	-o-transition: height 0.3s ease-in-out;
	transition: height 0.3s ease-in-out;
	background-color: #000;
	/*background-image: -webkit-linear-gradient(38deg, #4cd2da, #4cd2da 50%, #5adae2 50%, #5adae2 100%);
background-image: -moz-linear-gradient(38deg, #4cd2da, #4cd2da 50%, #5adae2 50%, #5adae2 100%);
background-size: 100% 100%;*/
	background: url(../images/hero-s.jpg) center no-repeat;
	background-size: cover;
	z-index: 998
}
.intro .page-width {
	height: 100%;
	display: table;
}
.page-width {
	max-width: 1140px;
	margin: 0;
	position: relative;
}
.home .intro {
	/*padding: 113px 0px 0px;*/
	padding: 0px;
	height: 100%;
	margin-bottom: -80px;
	min-height: 400px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.page-width div {
	margin-top: 25% !important;
	margin-left: -3% !important;
}
.page-width h2 {
	font-size: 100px !important;
	line-height: 115px !important;
}
.page-width p {
	font-size: 36px !important;
	margin-left: 230px !important;
}


/* Vertical Accordion Style */
.va-container {
}
.va-wrapper {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	background: #000;
}
.va-slice {
	cursor: pointer;
	position: absolute;
	width: 100%;
	left: 0px;
	overflow: hidden;
	opacity: .8 !important;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}
.va-slice:hover {
	opacity: 1.5 !important;
}
/*.va-slice:hover:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: yellow;
	opacity: .2;
  }*/
.va-slice-1 {
	background: #000 url(../images/1-a.jpg) no-repeat center center;
}
.va-slice-2 {
	background: #000 url(../images/2-a.jpg) no-repeat center center;
}
.va-slice-3 {
	background: #000 url(../images/3-a.jpg) no-repeat center center;
}
.va-slice-color-1 {
	background-color: #97c5eb;
}
.va-slice-color-2 {
	background-color: #68ace5;
}
.va-slice-color-3 {
	background-color: #0072cf;
}
.va-title {
	text-transform: uppercase;
	font-size: 46px;
	margin-left: 20px;
	line-height: 120px !important;
	color: #fff;
	text-shadow: none;
	font-weight: 300;
}
.va-title:hover {
	color: yellow;
}
.crew-opacity {
	opacity: 1 !important;
}
.crew-yellow {
	color: yellow;
	-webkit-transition: color 1s ease-in-out;
	-moz-transition: color 1s ease-in-out;
	-o-transition: color 1s ease-in-out;
	transition: color 1s ease-in-out;
	opacity: 1;
}
.va-role {
	font-style: italic !important;
	font-size: 22px !important;
	color: yellow !important;
	margin-top: 18px !important;
}
.va-content {
	display: none;
	margin-left: 25px;
	margin-top: -40px;
}
.va-slice p {
	color: #fff;
	font-size: 14px;
	line-height: 24px;
	padding-right: 25px;
}
.va-nav span {
	width: 40px;
	height: 25px;
	background: transparent url(../images/prev.png) no-repeat center center;
	position: absolute;
	top: -35px;
	left: 50%;
	margin-left: -20px;
	text-indent: -9000px;
	opacity: 0.7;
	cursor: pointer;
	display: none;
	z-index: 100;
}
.va-nav span.va-nav-next {
	background-image: url(../images/next.png);
	top: auto;
	bottom: -35px;
}
.va-nav span:hover {
	opacity: 1.0;
}





/*Full Desktop*/
@media (min-width: 1200px) {
body {
	/*background-color:red !important;*/	
}
.va-slice-1 {
	background-size: 100% !important;
}
.va-slice-2 {
	background-size: 100% !important;
}
.va-slice-3 {
	background-size: 100% !important;
}
.desktop-nav li {
	margin-left: 18px;
	font-size: 24px;
	line-height: 28px;
}
.page-width div {
	margin-left: 8% !important;
}
.page-width h2 {
	font-size: 130px !important;
	line-height: 145px !important;
}
.page-width p {
	font-size: 36px !important;
	margin-left: 350px !important;
}
.flex-direction-nav .flex-prev {
	margin-left: -43px !important;
}
.flex-direction-nav .flex-next {
	margin-right: -43px !important;
}
.va-slice p {
	color: #fff;
	font-size: 16px;
	line-height: 24px;
}
.va-role {
	font-style: italic !important;
	font-size: 22px !important;
	color: yellow !important;
}
.lm{
	margin-top: 80px;
}
.lm h2{
	margin-top: 50px;
}
.lm p{
	padding-right: 30px;
	font-size: 18px;
	font-weight:300;
	line-height: 28px;
}
.cm{
	margin-top: 120px;
	text-align:right;
}
.cm img{
	float:right;
	margin-top: 5%;
	margin-bottom: 95px;
}
.cm h2{
	margin-top: 50px;
}
.cm p{
	padding-left: 30px;
	font-size: 18px;
	font-weight:300;
	line-height: 28px;
}
.logo {
}
.logo img {
	height: 50px;
	margin-top: 14px;
}
}


/*Tablet*/
@media (min-width: 768px) and (max-width: 979px) {
body {
	/*background-color: blue !important;*/	
}
.desktop-nav li {
	margin-left: 0px;
	font-size: 15px;
	line-height: 30px;
}
.page-width div {
	margin-left: -17% !important;
}
.page-width h2 {
	font-size: 76px !important;
	line-height: 86px !important;
}
.page-width p {
	font-size: 30px !important;
	margin-left: 170px !important;
}
.logo {
}
.logo img {
	height: 33px;
	margin-top: 23px;
}
}


/*Mobile*/
@media (max-width: 767px) {
body {
	/*	background-color: pink !important;	*/
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.mobile-padding{
	padding-left: 20px !important;
	padding-right: 20px !important;
	-webkit-box-sizing: border-box!important;
	-moz-box-sizing: border-box!important;
	box-sizing: border-box!important;
}
/*.flex-direction-nav {
	display: none !important;
}*/
.logo {
	text-align: center;
	margin-bottom: 5px;
}
.navbar-inner {
	padding-bottom: 10px;
}
/*.video-margin-large {
	margin-right: 515px !important;
}*/

.active:after {
	border-color: none!important;
	border-top-color: none!important;
	border-width: none!important;
	left: 0!important;
	margin-left: 0 !important;
}
.active {
	position: none;
}
.active:after {
	top: 100%;
	border: solid transparent;
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
#nav.affix {
	position: relative;
}
.flex-direction-nav .flex-next {
	margin-right: -24px !important;
}
.flex-direction-nav .flex-prev {
	margin-left: -26px !important;
}
.flexslider {
	padding-right: 10px !important;
	padding-left: 10px !important;
}
.cm img{
	float:right;
	margin-top: 5%;
	margin-bottom: 95px;
}
.cm h2{
	margin-top: 50px;
	text-align:left;
}
.cm p{
	text-align:left;
	padding-left: 0;
	padding-right: 0;
}
.lm {
	text-align:center;
}
.lm p{
	padding-right: 0;
	text-align:left;
}
.lm h2{
	text-align:left;
}

}
